.jumbotron {
    box-sizing: border-box;
    height: 600px;
    background-color: rgba(0, 0, 0, 0);
  }
  
  .main-button-container {
    margin-top: 175px;
    max-width: 610px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .timer-p {
    margin-top: 40px;
  }
  
  .answer:hover {
    background: green;
  }
  
  .answer {
    padding-top: 7px;
    height: 45px;
    color: white;
    padding-left: 14px;
    background-color: black;
    border-radius: 4px;
  }
  
  .img-wrong {
    margin-top: 40px;
  }
  
  .first-answer {
    margin-top: 40px;
  }
  
  .reset-button {
    margin-top: 40px;
  }
  
  .summary-correct {
    margin-top: 40px;
  }
  
  body {
    color: white;
    background: url("../images/wall.jpg");
    background-size: cover;
  }

  /* /Media Queries */
  
  @media only screen and (max-width: 640px) {
    #logo {
      width:100%;
      position: center;
    }
    nav a {
      width:100%;
      display: inline-block;
          padding: 1em;
      text-decoration: none;
      margin: center;
    }
    .main-section{
      float: left;
    }
    .auth-image{
      float: left;
      width: 100%;
    }
    .nav-item{
      display: inline;
      margin-right: 50px;
    }
    #masthead{
      position: static;
    }
    .container {
      padding-left: 5%;
      padding-right: 5%;
    }
    
  
  }
  
  
  
  @media only screen and (max-width: 768px) {
      
    .work{
      width: 50%;
      float: left;
    }
  
    .container {
      padding-left: 5%;
      padding-right: 5%;
    }
  
    .nav-item {
      margin-right: 25px;
    }
    #masthead{
      position:static;
    }
    .work{
      margin-left: 25%;
    }
  
  }
  
  
  @media only screen and (max-width: 980px) {
  
  .container {
    max-width: 980px;
  }
  
  
  }